:root {
  font-family: "Calibre-Regular";
  font-size: 10px;
  --accent-primary: #1200e5;
  --accent-hover: #e500bf;
  --black-primary: #19191a;
  --grey-secondary: #646468;

  --space-xxsmall: 5px;
  --space-xsmall: 15px;
  --space-small: 30px;
  --space-medium: 45px;
  --space-large: 60px;
  --space-xlarge: 90px;
  --space-xxlarge: 120px;

  --type-normalInteractionText: 1.6rem;
  --type-smallInteractionText: 1.3rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

body {
  color: var(--black-primary);
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Calibre-Regular";
  src: url("./fonts/CalibreTest-Regular.woff") format("woff");
}
@font-face {
  font-family: "Calibre-Medium";
  src: url("./fonts/CalibreTest-Medium.woff") format("woff");
}
@font-face {
  font-family: "Calibre-Semibold";
  src: url("./fonts/CalibreTest-Semibold.woff") format("woff");
}
@font-face {
  font-family: "GT-Pressura-Pro-Mono-Bold";
  src: url("./fonts/GT-Pressura-Pro-Mono-Trial-Bold.otf") format("opentype");
}
@font-face {
  font-family: "GT-Pressura-Pro-Mono-Trial-Regular";
  src: url("./fonts/GT-Pressura-Pro-Mono-Trial-Regular.otf") format("opentype");
}
